@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    font-family: 'Outfit', sans-serif;
}
.list-style{
    list-style: none;
}
.wh-bg{
    background-color: #FFFFFF;
}
.anchor{
    text-decoration: none;
}
.border{
    border: none;
}
.pad{
    padding: 100px;
}
.mp{
    margin-left: 170px;
}